@mixin title {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: $dgray;
  padding: 30px 0 10px;
  &:after {
    content: "";
    display: block;
    margin: 15px 0;
    width: 100%;
    height: 2px;
    background-color: $gray;
  }
}

$blue: #17a2b8;
$dgray: #202020;
$gray: #ccc;
$white: #fff;

body {
  min-width: 320px;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 15px;
  line-height: 1.6;
  color: $gray;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $gray;
  font-weight: 700;
  transition: color 0.2s linear;
}

a:hover {
  text-decoration: none;
  color: $blue;
}

/* Header */
header .navbar {
  background-color: $dgray;
  box-shadow: 0 4px 10px -2px $blue;
}

/* Navbar */
.navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: $gray;

  &:hover {
    color: $gray;
  }

  span {
    color: $blue;
  }
}

.nav-item {
  text-align: center;
}

.nav-link {
  font-size: 15px;
  font-weight: 600;

  margin-left: 30px;
  padding: 0 !important;

  color: $gray;

  transition: color 0.2s linear;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $blue;
    transform: scale(0);

    transition: all 0.2s linear;
  }

  &:hover {
    color: $blue;
  }

  &:hover:after {
    transform: scale(1);
  }
}

.navbar-toggler-icon {
  position: relative;
  color: $white;
  font-size: 25px;

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline-color: $blue;
}

@media (max-width: 991px) {
  .nav-link {
    margin-left: 0;
  }
}

/* header */
.section--header {
  padding-top: 100px;
  height: auto;
  background-color: $dgray;
}

.header {
  text-align: center;

  h1 {
    font-size: 50px;
    font-weight: 700;
    color: $gray;
  }

  h2 {
    color: $blue;
    font-size: 25px;
    padding-bottom: 15px;
  }
}

.header__address {
  text-align: right;
  margin-top: 28px;
}

.header__photo {
  padding: 0 15px 15px 15px;
  background-color: $dgray;
}

.header__photo img {
  border: 3px solid $blue;
  transition: box-shadow 0.2s linear;

  &:hover {
    box-shadow: 0px 0px 15px -2px $blue;
  }
}

.header__social {
  margin-top: 28px;
}

/* @media */
@media (max-width: 991px) {
  /* body */
  body {
    font-size: 14px;
  }
  /* header */
  .header {
    h1 {
      font-size: 45px;
    }

    h2 {
      font-size: 22px;
    }
  }

  .header__photo {
    padding: 5px;
  }
}

@media (max-width: 767px) {
  /* body */
  body {
    font-size: 11px;
  }

  /* header */
  .header__address {
    width: 39%;
  }

  .header__photo {
    width: 22%;
  }

  .header__social {
    width: 39%;
  }
}

@media (max-width: 575px) {
  /* header */
  .header {
    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 16px;
      padding-bottom: 0px;
    }
  }
}

@media (max-width: 518px) {
  /* header */
  .header__photo {
    display: none;
  }

  .header__address {
    width: 50%;
  }

  .header__social {
    width: 50%;
  }
}

@media (max-width: 410px) {
  /* header */
  .header {
    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 14px;
      padding-bottom: 0px;
    }
  }

  .header__address {
    width: 100%;
    text-align: center;
  }

  .header__social {
    width: 100%;
    text-align: center;
  }
}
